.fs-1,.fs-3,.scoreH,.scoreC{
    color: #4e4848;
}
.row{
    text-align: center;
}
.btn{
    color: aliceblue;
    background-color: #5f5c5c;
}
#ComputerCoiceImg{
    height: 250px;
    object-fit: cover;
    margin-bottom: 8px;
}
.scoreHeight{
    height: 100px;
}

dialog {
    width: min-content;
    height: min-content;
    padding: 5px 30px;
    border-radius: 10px;
    border: 5px solid #4e4848;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

h3 {
    white-space: nowrap;
    color: #4e4848;
    font-size: 40px;
    font-weight: bold;
}

.footer {
height: 20px;
color: aliceblue;
background-color: #5f5c5c;
font-size: 12px;
padding-top: 3px;
text-align: center;
}